# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Model
models/*.pkl
models/*.joblib

# Data
data/*.csv

# Logs
*.log