# Python
__pycache__/
*.pyc
*.egg-info/
*.egg-info
dist/
build/

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Model
models/*.pkl
models/*.joblib

# Data
data/*.csv
data/processed/*.csv

# Logs
*.log